<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bh.sfapi.dao.MapTypeDAO">

    <insert id="saveTypeFour" parameterType="MapType">
        insert into type_4 values ( #{typeId},#{map_1},#{map_2},#{map_3},#{map_4},#{healthMgrId},#{page},#{mapType} )
    </insert>

    <insert id="saveTypeSix" parameterType="MapType">
        insert into type_6 values ( #{typeId},#{map_1},#{map_2},#{map_3},#{map_4},#{map_5},#{map_6},#{healthMgrId},#{page},#{mapType})
    </insert>

    <select id="getMapByMapTypeFour" parameterType="Long" resultType="MapDto">
        SELECT m.* , typeId FROM type_4 t , mapmgr m where t.healthMgrId = #{ healthMgrId } and t.pageS=#{page}and ( map_1 = m.mapMgrId or map_2 = m.mapMgrId or map_3 = m.mapMgrId or map_4 = m.mapMgrId )
    </select>

    <select id="getMapByMapTypeSix" parameterType="Long" resultType="MapDto">
        SELECT m.* , typeId FROM type_6 t , mapmgr m where t.healthMgrId = #{ healthMgrId } and t.PageS=#{page}and ( map_1 = m.mapMgrId or map_2 = m.mapMgrId or map_3 = m.mapMgrId or map_4 = m.mapMgrId or map_5 = m.mapMgrId or map_6 = m.mapMgrId )
    </select>
    <select id="getMapByhealthMgrId" parameterType="Long" resultType="MapDto">
        SELECT m.* , typeId FROM type_6 t , mapmgr m where t.healthMgrId = #{ healthMgrId } and ( map_1 = m.mapMgrId or map_2 = m.mapMgrId or map_3 = m.mapMgrId or map_4 = m.mapMgrId or map_5 = m.mapMgrId or map_6 = m.mapMgrId )
    </select>

    <select id="getMapTypeFourByHealthMgrId" parameterType="Long" resultType="MapType">
        SELECT * FROM type_4 t where t.healthMgrId = #{ healthMgrId } and t.PageS=#{page}
    </select>

    <select id="getMapTypeSixByHealthMgrId" parameterType="Long" resultType="MapType">
        SELECT * FROM type_6 t where t.healthMgrId = #{ healthMgrId } and t.PageS=#{page}
    </select>

    <update id="updateMapTypeFour" parameterType="MapType">
        UPDATE type_4
        <trim prefix="set" suffixOverrides=",">
            <if test="map_1!=null">map_1=#{map_1},</if>
            <if test="map_2!=null">map_2=#{map_2},</if>
            <if test="map_3!=null">map_3=#{map_3},</if>
            <if test="map_4!=null">map_4=#{map_4},</if>
        </trim>
        WHERE healthMgrId=#{healthMgrId} and PageS=#{page}
    </update>

    <update id="updateMapTypeSix" parameterType="MapType">
        UPDATE type_6 set map_1=#{map_1}, map_2=#{map_2}, map_3=#{map_3}, map_4=#{map_4}, map_5=#{map_5}, map_6=#{map_6}
        WHERE healthMgrId=#{healthMgrId} and PageS=#{page}
    </update>
    <update id="updateMapType" parameterType="MapType">
        UPDATE type_6 set map_1=#{map_1}, map_2=#{map_2}, map_3=#{map_3}, map_4=#{map_4}, map_5=#{map_5}, map_6=#{map_6},mapType=#{mapType}
        WHERE healthMgrId=#{healthMgrId} and PageS=#{page}
    </update>

    <select id="getSingleMapByMapTypeFour" resultType="MapDto">
        SELECT m.* , typeId FROM type_4 t , mapmgr m where t.healthMgrId = #{ healthMgrId } and  map_${ mapOrder } = m.mapMgrId and t.PageS=#{page}
    </select>

    <select id="getSingleMapByMapTypeSix" resultType="MapDto">
        SELECT m.* , typeId FROM type_6 t , mapmgr m where t.healthMgrId = #{ healthMgrId } and  map_${ mapOrder } = m.mapMgrId and t.PageS=#{page}
    </select>
    <select id="getMapBypage" resultType="MapDto">
        select * from type_6 t where t.healthMgrId = #{ healthMgrId } and  t.PageS=#{page}
    </select>
    <select id="getPagebyhealmgrId" parameterType="Long" resultType="Long">
        select count(PageS) from type_6 t where  t.healthMgrId = #{ healthMgrId }
    </select>
    <insert id="add" parameterType="MapType">
        insert into type_6 values ( #{typeId},#{map_1},#{map_2},#{map_3},#{map_4},#{map_5},#{map_6},#{healthMgrId},#{page} ,#{mapType})
    </insert>
    <select id="getTypeBypage" parameterType="Long" resultType="Long">
        select mapType from type_6 where PageS=#{page} and healthMgrId=#{healthMgrId}
    </select>
    <delete id="deletemMap" parameterType="Long">
        delete  from type_6 where healthMgrId=#{healthMgrId}
    </delete>


</mapper>